name: sv-tests-ci

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *' # run daily at 01:00 am (UTC)

jobs:
  Summary:
    name: Summary
    runs-on: [ubuntu-latest]
    # runs-on: [self-hosted, Linux, X64, gcp-custom-runners]
    container: ubuntu:latest
    env:
      ANALYZER: "./tools/report_analyzer.py"
      GRAPHER: "./tools/history-graph"
      OUT_REPORT_DIR: "./out/report/"
      COMPARE_REPORT: "./out/report/report.csv"
      CHANGES_SUMMARY_JSON: "./out/report/tests_summary.json"
      CHANGES_SUMMARY_MD: "./out/report/tests_summary.md"
      TESTS_SUMMARY_DIR: "tests_summary/"
      DEBIAN_FRONTEND: "noninteractive"
    steps:
      - name: Update apt repos and install git
        run: |
          apt-get update -qq
          apt install -y git
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup python
        run: |
          apt-get update -qq
          apt install -y python3 python3-pip wget git curl jq clang
          pip install --break-system-packages --upgrade setuptools
          pip install --break-system-packages -r conf/requirements.txt
      - name: Install VeeR dependencies
        run: |
          apt install -y cpanminus
          cpanm Bit::Vector JSON
      - name: Prepare output directories
        run: |
          mkdir -p out/report
      - uses: actions/download-artifact@v4
        with:
          path: ./out/
      - name: Extract
        run: |
          for file in $(find out/ -name *.tar -print); do tar -xf $file --strip-components=2 -C $(dirname $file); done
      - name: Fix git safe directory
        run: |
          git config --global --add safe.directory /__w/sv-tests/sv-tests
      - name: Checkout third party tests and cores
        run: |
          # take verilator from github
          git config --global url."https://github.com/verilator/verilator".insteadOf http://git.veripool.org/git/verilator
          git submodule update --init --recursive --depth 1 third_party/tests
          git submodule update --init --recursive --depth 1 third_party/cores
          # yosys tool also contains tests
          git submodule update --init --recursive --depth 1 third_party/tools/yosys
          # icarus contains tests
          git submodule update --init --depth 1 third_party/tools/icarus
      - name: Summary
        run: |
          ./.github/workflows/summary.sh
          ./.github/workflows/report.sh
      - name: Update sv-tests-results repository
        if: github.ref == 'refs/heads/master'
        shell: bash
        run: |
          eval $(ssh-agent -s)
          ssh-add - <<< "${{ secrets.REPORT_DEPLOY_KEY }}"
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          git config --global core.sshCommand 'ssh -o StrictHostKeyChecking=no'
          ./.github/workflows/update_report.sh
      - name: Prepare artifacts for PR commenter
        if: github.event_name == 'pull_request'
        shell: bash
        run: |
          mkdir $TESTS_SUMMARY_DIR
          echo ${{ github.event.number }} > $TESTS_SUMMARY_DIR/issue_num
          cp $COMPARE_REPORT $TESTS_SUMMARY_DIR/report_base.csv
          cp $OUT_REPORT_DIR/report.csv $TESTS_SUMMARY_DIR/report_new.csv
          cp $OUT_REPORT_DIR/new_*csv $TESTS_SUMMARY_DIR
          cp $OUT_REPORT_DIR/tests_summary.json $TESTS_SUMMARY_DIR
          cp $OUT_REPORT_DIR/tests_summary.md $TESTS_SUMMARY_DIR
          find out -name plot_*.svg -exec cp {} $TESTS_SUMMARY_DIR \;

      - name: Post GitHub summary
        run: |
          cat $CHANGES_SUMMARY_MD > $GITHUB_STEP_SUMMARY

      - name: Upload artifacts for summary
        uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: tests_summary
          path: |
            ./tests_summary/
      - name: Find artifacts that are no longer needed
        id: get-artifacts-to-delete
        if: github.event_name == 'pull_request'
        shell: bash
        run: |
          artifacts=$(find ./out -type d -name 'report_*' -exec basename {} \;)
          echo $artifacts
          artifacts="${artifacts//'%'/'%25'}"
          artifacts="${artifacts//$'\n'/'%0A'}"
          artifacts="${artifacts//$'\r'/'%0D'}"
          echo "artifacts=$artifacts" >> GITHUB_OUTPUT
          echo $artifacts
      - name: Delete Old Artifacts
        if: github.event_name == 'pull_request'
        uses: geekyeggo/delete-artifact@v5
        with:
          name: ${{ steps.get-artifacts-to-delete.outputs.artifacts }}
  Automerge:
    name: Automerge dependabot pull requests
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    needs: Summary
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
